<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="section-title-wrapper about-title-wrapper">
        <h2 class="section-title about-title">About Us</h2>
        <picture>
          <source
            srcset="./img/about/about-line-desk.png"
            media="(min-width: 1440px)"
            width="1096"
            height="2" />
          <source
            srcset="./img/about/about-line-mob.png"
            width="239"
            height="2" />
          <img
            class="about-line-img"
            src="./img/about/about-line-mob.png"
            alt="Line"
            width="239"
            height="2"
            loading="lazy"
        /></picture>
      </div>
      <div class="about-content-wrapper">
        <div class="about-quote-wrapper">
          <img
            class="about-img"
            src="./img/about/about-quote.png"
            alt="Quote"
            width="64"
            height="64"
            loading="lazy"
          />
          <p class="about-quote-text">
            We believe in lean business models, minimalist tech stacks, and real
            results.
          </p>
        </div>
        <p class="about-text">
          Elevuno is a Limited Liability Company built for the modern solo
          entrepreneur. Whether you're launching your first service or trying to
          scale beyond 1:1 work, we help you get there with confidence and
          control.<br class="about-br" />
          Our clients include first-time founders, veteran freelancers, indie
          consultants, and creators who are ready to grow without growing a
          team.
        </p>
      </div>
    </div>
  </div>
</section>
