<section class="section benefits-section" id="benefits">
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <div class="section-title-wrapper benefits-title-wrapper">
        <h2 class="section-title benefits-title">Benefits</h2>
        <picture>
          <source
            srcset="./img/benefits/benefits-line-desk.png"
            media="(min-width: 1440px)"
            width="1057"
            height="2" />
          <source
            srcset="./img/benefits/benefits-line-mob.png"
            width="253"
            height="2" />
          <img
            class="benefits-line-img"
            src="./img/benefits/benefits-line-mob.png"
            alt="Line"
            width="253"
            height="2"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle benefits-subtitle">Why Elevuno Works</p>
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">
            Stay small, grow strong — no team needed
          </p>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">Make your work visible and valuable</p>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">
            Automate your client flow and free up time
          </p>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">
            Access expert help without hiring full-time
          </p>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">
            Replace chaos with clarity using proven digital systems
          </p>
        </li>
        <li class="benefits-list-item">
          <svg class="benefits-icon" width="28" height="6">
            <use href="./img/sprite.svg#icon-line"></use>
          </svg>
          <p class="benefits-item-text">
            Walk away with tangible dashboards, templates, and growth plans
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
