<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="section-title-wrapper contact-title-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <picture>
          <source
            srcset="./img/contact/contact-line-desk.png"
            media="(min-width: 1440px)"
            width="1108"
            height="2" />
          <source
            srcset="./img/contact/contact-line-mob.png"
            width="251"
            height="2" />
          <img
            class="contact-line-img"
            src="./img/contact/contact-line-mob.png"
            alt="Line"
            width="251"
            height="2"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle contact-subtitle">
        Let’s Build<br class="contact-subtitle-br" />
        Your Solo System
      </p>
      <p class="contact-text">
        Have a question?<br />
        Want to book a free 15-minute intro call?
      </p>
      <div class="contact-email-wrapper">
        <p class="contact-email-text">Reach out at:</p>
        <a class="contact-email-link" href="mailto:info@elevuno.pro">
          <svg class="email-icon" width="18" height="16">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          <svg class="envelope-icon" width="27" height="24">
            <use href="./img/sprite.svg#icon-envelope"></use></svg
          >info@elevuno.pro</a
        >
      </div>
    </div>
  </div>
</section>
