<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">
        Scale Smart.<br />
        Stay Solo.
      </h1>
      <p class="hero-top-text">
        Turn your one-person business into a
        <span class="hero-span">systemized brand</span> – with clarity,
        automation, and results.
      </p>
      <p class="hero-text">
        At Elevuno, we help freelancers, creators, and consultants build lean
        digital systems so they can focus on what they do best — without burning
        out. Strategy meets simplicity here.
      </p>
    </div>
  </div>
</section>
