<section class="section process-section" id="process">
  <div class="process-bg-wrapper">
    <div class="container process-container">
      <div class="section-title-wrapper process-title-wrapper">
        <h2 class="section-title process-title">How It Works</h2>
        <picture>
          <source
            srcset="./img/process/process-line-desk.png"
            media="(min-width: 1440px)"
            width="1057"
            height="2" />
          <source
            srcset="./img/process/process-line-mob.png"
            width="200"
            height="2" />
          <img
            class="process-line-img"
            src="./img/process/process-line-mob.png"
            alt="Line"
            width="200"
            height="2"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle process-subtitle">
        Simple Steps to Get Started
      </p>
      <ul class="process-list">
        <li class="process-list-item">
          <span class="process-item-number">1</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Book a 90-Min Clarity Session</p>
            <p class="process-item-text">map where you are and where to go</p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">2</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Choose Your Sprint</p>
            <p class="process-item-text">3-day or 7-day execution plans</p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">3</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Build & Test Together</p>
            <p class="process-item-text">we co-create your systems live</p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">4</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Launch & Automate</p>
            <p class="process-item-text">
              start running your solo business with ease
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">5</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Optional Support</p>
            <p class="process-item-text">
              stay connected via async check-ins or retainers
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
