<section class="section services-section" id="services">
  <div class="services-bg-wrapper">
    <div class="container services-container">
      <div class="section-title-wrapper services-title-wrapper">
        <h2 class="section-title services-title">Services</h2>
        <picture>
          <source
            srcset="./img/services/services-line-desk.png"
            media="(min-width: 1440px)"
            width="1109"
            height="2" />
          <source
            srcset="./img/services/services-line-mob.png"
            width="252"
            height="2" />
          <img
            class="services-line-img"
            src="./img/services/services-line-mob.png"
            alt="Line"
            width="252"
            height="2"
            loading="lazy"
        /></picture>
      </div>
      <div class="services-content-wrapper">
        <p class="section-subtitle services-subtitle">What We Offer?</p>
        <ul class="services-list">
          <li class="services-list-item">
            <h3 class="services-item-title">Offer & Model Mapping</h3>
            <p class="services-item-text">
              Define a scalable service or product that fits your expertise
            </p>
          </li>
          <li class="services-list-item">
            <h3 class="services-item-title">Launch Sprints</h3>
            <p class="services-item-text">
              3- or 7-day packages to plan, prep, and publish
            </p>
          </li>
          <li class="services-list-item">
            <h3 class="services-item-title">Content Blueprints</h3>
            <p class="services-item-text">
              Define what, where, and how to share content for traction
            </p>
          </li>
          <li class="services-list-item">
            <h3 class="services-item-title">Mini MBA Strategy Sessions</h3>
            <p class="services-item-text">
              Personalized consulting on growth, structure, and brand
            </p>
          </li>
          <li class="services-list-item">
            <h3 class="services-item-title">Funnel & Onboarding Automation</h3>
            <p class="services-item-text">
              Build end-to-end flows (email, scheduling, sales)
            </p>
          </li>
          <li class="services-list-item">
            <h3 class="services-item-title">Systems Design for Solopreneurs</h3>
            <p class="services-item-text">
              Create Notion dashboards, Zapier flows, Airtable trackers
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
