@import './fonts.scss';
@import 'modern-normalize';
@import './components/header.scss';
@import './components/menu.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/services.scss';
@import './components/benefits.scss';
@import './components/process.scss';
@import './components/testimonials.scss';
@import './components/faq.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/banner.scss';
@import './components/privacy-header.scss';
@import './components/privacy.scss';
